/*==============================
	COLORS
================================*/
$pink 		: #f69caa;
$darkpink   : #ed7487;
$orange 	: #e06400;
$light 		: #f4f4f4;
$lightgrey  : #e3e3e3;
$midgrey 	: #acacac;
$darkgrey   : #535353;
$red 		: #ff2626;
$beige 		: #c0ad7a;
$brown 		: #73452c;
$blue 		: #3767e1;
$midblue 	: #7db9c8;
$lightblue  : #4dc2f1;
$white 		: #ffffff;
$dark       : #313131;
$black 		: #000000;


/*---------------------------
	placeholders
---------------------------*/

%inline{
	float:left;
	display:inline-block;
}


/*---------------------------
	mixins
---------------------------*/

@mixin box-shadow($x, $y, $blur, $spread:0, $color:#d8d8d8){
  -webkit-box-shadow: $x $y $blur $spread $color;
     -moz-box-shadow: $x $y $blur $spread $color;
          box-shadow: $x $y $blur $spread $color;
}

@mixin border-radius($radius){
	-moz-border-radius: $radius;
		   border-radius: $radius;
}

@mixin transition($property: all, $time: 0.2s, $type: ease-out){
	  -webkit-transition: $property $time $type;
       -moz-transition: $property $time $type;
             transform: $property $time $type;
}

@mixin scale($x,$y){
	-webkit-transform: scale($x,$y); 
	    -ms-transform: scale($x,$y); 	
	        transform: scale($x,$y);
}

@mixin animation-duration($time){
  -webkit-animation-duration: $time;
     -moz-animation-duration: $time;
       -o-animation-duration: $time;
          animation-duration: $time;
}

@mixin linear-gradient-stop33($fromColor, $toColor){
  background: $toColor;
  background: -moz-linear-gradient(top, $fromColor 0%, $fromColor 33%, $toColor 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $fromColor), color-stop(33%,$fromColor), color-stop(66%,$fromColor), color-stop(100%,$toColor)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $fromColor 0%, $fromColor 33%, $toColor 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $fromColor 0%, $fromColor 33%, $toColor 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $fromColor 0%, $fromColor 33%, $toColor 100%); /* IE10+ */
  background: linear-gradient(to bottom, $fromColor 0%, $fromColor 33%, $toColor 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$fromColor', endColorstr='$toColor',GradientType=0 ); /* IE6-8 */
}


/*---------------------------
	@keyframes animations
---------------------------*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}


@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200%);
    	    transform: translateX(200%);
  }

  100% {
    -webkit-transform: translateX(0);
    		transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200%);
        -ms-transform: translateX(200%);
    		    transform: translateX(200%);
  }

  100% {
    -webkit-transform: translateX(0);
    	-ms-transform: translateX(0);
    	    transform: translateX(0);
  }
}

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}